* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2C313C;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-flow: column;
}


/* #region Header CSS */
.header {
    flex: 0 0 60px;
    padding: 5px 10px;
    background-color: #2C313C;
}

.header input {
    /* width: 200px; */
    font-size: 36px;
    font-weight: 900;
    color: white;
    /* padding: 5px; */
    border: none;
    outline: none;
}

.header input:hover,
input:focus {
    border: 2px solid white;
}

/* #endregion Header CSS End */


/* #region Tabs CSS */

.tabs-container {
    flex: 0 0 42px;
    padding-left: 20px;
    display: flex;
    background-color: #282C34;
}

.cirlce-container {
    min-width: 30px;
    height: 30px;
    background-color: #282C34;
    color: white;
    font-size: 25px;
    font-weight: 900;
    border-radius: 50%;
    text-align: center;
    margin-top: 7px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}

.cirlce-container:hover {
    background-color: #404550;
}

.tabs {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.tabs:hover {
    overflow-x: auto;
}

.tabs button {
    padding: 10px;
    border: none;
    background-color: #282C34;
    border-right: 1px solid black;
    border-bottom: 1px solid #282C34;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
}

.tabs button:first-of-type {
    border-left: 1px solid black;
}

.tabs button:hover {
    /* background-color: #21252B; */
    /* background-color: #2C313A66; */
    background-color: #2C313A;
    border-bottom: 1px solid white;
}

.tabs button:focus {
    border-bottom: 2px solid white;
}

/* #endregion Tabs css */


/* #region textarea css */
.editor-container {
    flex: 1 1 auto;
    margin-top: 10px;
    overflow: auto;
}

.editor {
    height: 100%;
    border: none;
    outline: none;
    background-color: #2C313C;
    color: white;
    font-size: 24px;
    padding: 20px;
    display: none;
}

/* #endregion textarea css end */


/* #region Utility css */

.active {
    display: block;
}

.activeTabHead {
    background-color: white;
    border-bottom: 1px solid white;
}

/* horizontal Scrollbar CSS */
.tabs-container ::-webkit-scrollbar {
    background-color: #282C34;
    height: 3px;
}

.tabs-container ::-webkit-scrollbar-thumb {
    background-color: rgba(158, 167, 187, 0.3);
}

/* #endregion Utility css end */